/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #448AFF;
	--ifm-color-primary-dark: #2979FF;
	--ifm-color-primary-darker: #2962FF;
	--ifm-color-primary-darkest: rgb(26, 68, 136);
	--ifm-color-primary-light: #2196F3;
	--ifm-color-primary-lighter: #64B5F6;
	--ifm-color-primary-lightest: #90CAF9;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--white-image-filter: invert(100%);
	--text-color: #1C1E21;
	--shadow: #0000007d;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #448AFF;
	--ifm-color-primary-dark: #2979FF;
	--ifm-color-primary-darker: #2962ff;
	--ifm-color-primary-darkest: rgb(26, 68, 136);
	--ifm-color-primary-light: #2196F3;
	--ifm-color-primary-lighter: #64B5F6;
	--ifm-color-primary-lightest: #90CAF9;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
	--white-image-filter: invert(0%);
	--text-color: #E3E3E3;
	--shadow: #ffffff7d;
}

.whiteImage {
    filter: var(--white-image-filter);
}
